.idea/
.vscode/
.serverless/
serverless.ts
ormconfig.json
node_modules/
build/
tmp/
temp/
# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack